<html>
    <head>
        <script type="text/javascript" src="/public/api.js"></script>
        <script type="text/javascript" src="/public/welcome.js"></script>
        <script type="text/javascript" src="/public/app2.js"></script>
        <link rel="stylesheet" href="/public/css/form.css">
        <style>
                table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
                
                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }
                </style>
    </head>
    <body>
        <div id="main">
            <h1 id="welcome">Welcome</h1>
            <table id="table">
                
            </table>
            <button onclick="hideMain()">Add a new savings condition</button>
        </div>
        <div id="add">
            <h1>Add a New Save Condition</h1>

            <form action="" method="GET" onsubmit="hideForm()">
                <input type="text" name="tag" placeholder="Tag">
                <input type="number" name="triggerValue" placeholder="Dollar Value">
                <input type="number" name="saveValue" placeholder="Amount to Save">
                <input type="submit" onclick="saveNewCondition(this.form)" value="Submit">
            </form>
                
            <button onclick="hideAdd()">Back</button>
        </div>
        <script type="text/javascript" src="/public/hide.js"></script>
    </body>
</html>