<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Home Page</title>

</head>
<body>
    <style>
        body{
            background-color:#7f7fff;
            text-align:center;
            font-family: 'Roboto', sans-serif;
        }

        h1{
            color:white;
        }

        li{
            text-decoration:none;
        }

    </style>
        <h1>AutoSave</h1>

        <div>
            <li><a href="/register">Sign Up!</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/login">Log In</a></li>  
        </div>
</body>
</html>